{% block content %}
    <h2>Lista de Secretarias</h2>

    <!-- Mostrar el total de secretarias -->
    <p>Total de secretarias: {{ user_profiles|length }}</p>

    <div class="form-group">
        <label for="searchInput">Buscar por nombre o apellido:</label>
        <input type="text" id="searchInput" class="form-control" placeholder="Escribe para buscar...">
    </div>

    {% if user_profiles %}
        <table class="table" id="secretaryTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nombre de Usuario</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user_profile in user_profiles %}
                    {% for group in user_profile.groups %}
                        {% if group.name == 'secretarias' %}
                            <tr class="table-success">
                                <th scope="row" class="secretary-name">{{ user_profile.user.get_full_name }}</th>
                                <td>{{ user_profile.user.username }}</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-info" href="{% url 'user_details' user_profile.user.id %}">Ver Información</a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'delete_user' user_profile.user.id %}">Eliminar</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron usuarios.</p>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Escucha cada vez que se escribe en el campo de búsqueda
            document.getElementById("searchInput").addEventListener("keyup", function() {
                var input = this.value.toLowerCase(); // Obtén el valor del input y conviértelo a minúsculas
                var rows = document.querySelectorAll("#secretaryTable tbody tr");

                rows.forEach(function(row) {
                    var secretaryName = row.querySelector(".secretary-name").textContent.toLowerCase(); // Obtén el nombre completo de la secretaria en minúsculas

                    // Muestra/oculta la fila según si coincide con el input
                    if (secretaryName.includes(input)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        });
    </script>
{% endblock %}
