
{% if user.is_authenticated %}
    {% if group_name == 'estudiantes' %}
        <header class="p-3 text-bg-dark bg-primary">
    {% elif group_name == 'profesores' %}
        <header class="p-3 text-bg-dark bg-success">
    {% elif group_name == 'secretarias' %}
        <header class="p-3 text-bg-dark bg-secondary">
    {% elif group_name == 'administrativos' %}
        <header class="p-3 text-bg-dark bg-danger">
    {% endif %}
{% else %}
    <header class="p-3 text-bg-dark bg-primary">
{% endif %}
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            ADV
        </a>

        {% if user.is_authenticated %}
            {% if group_name == 'estudiantes' %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-primary">
            {% elif group_name == 'profesores' %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-success">
            {% elif group_name == 'secretarias' %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-secondary">
            {% elif group_name == 'administrativos' %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-danger">
            {% endif %}
        {% else %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-primary">
        {% endif %}


        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Inicio</a></li>
        
        {% load static %}

        {% if user.is_authenticated and group_name != 'estudiantes' %}
        <li>
            <a href="{% url 'courses' %}" class="nav-link px-2 text-white">
                 Cursos
            </a>
        </li>
        {% endif %}
        
        <!--solo admin-->
        {% if user.is_authenticated and user.is_superuser %}
             <li><a href="{% url 'attendance_prof' %}" class="nav-link px-2 text-white">Registro de Profesores</a></li>
             <li><a href="{% url 'weekly_schedule' %}" class="nav-link px-2 text-white">Horario</a></li>
             <li><a href="{% url 'manage_books' %}"class="nav-link px-2 text-white"> Libros </a></li>

        {% endif %}

        <!--end-->

        {% if not user.is_authenticated or group_name == 'estudiantes' %}
            <li><a href="{% url 'unidad_educativa' %}" class="nav-link px-2 text-white">Acerca del cole</a></li>
        {% endif %}
        </ul>

        <div class="text-end">
            {% if user.is_authenticated %}
                <li style="list-style-type: none;">
                                                                 <!--aqui falta la palabra singular-->
                    <a class="nav-link px-2 text-white" href="{% url 'profile' %}">{{ group_name_singular|capfirst}} | {{ user.username }}</a>
                </li>
            {% else %}
                <a class="btn btn-outline-light me-2" href="{% url 'custom_login' %}">Iniciar Sesión </a>
            {% endif %}
        </div>
    </div>
</div>
</header>