{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Unidad Educativa Antonio Díaz Villamil</h2>
        </div>
        <div class="card-body p-4">
            <p class="lead">
                La <strong>Unidad Educativa Antonio Díaz Villamil</strong>, ubicada en c. Montenegro # 860, La Paz, Bolivia, se elige como el escenario central para la implementación y evaluación del Sistema Web de Control Académico Administrativo Escolar y Docente en el contexto de este proyecto de grado. Fundada en 1947.
            </p>
            <p>
                La infraestructura de la Unidad Educativa abarca laboratorios de computación, biblioteca, canchas deportivas, y aulas equipadas para la enseñanza estudiantil. Además, la institución cuenta con recursos tecnológicos, incluyendo una sala de computación y proyección de videos, que respaldan las actividades académicas y administrativas.
            </p>
            <p>
                La población estudiantil está compuesta por aproximadamente <strong>700 alumnos</strong>, distribuidos en Primero a Sexto de Secundaria. El cuerpo docente, integrado por <strong>33 docentes altamente capacitados</strong>, desempeña un papel crucial en la impartición de conocimientos y el enriquecimiento del ambiente académico.
            </p>
            <p>
                En cuanto a las políticas institucionales, la Unidad Educativa se rige por normas estándares dadas por el Ministerio de Educación, que, combinadas con ser un colegio de solo varones, constituyen un alto control de disciplina y educación hacia el estudiante.
            </p>
            <p>
                Dentro del contexto socioeconómico, la Unidad Educativa juega un papel fundamental en la formación de los estudiantes y contribuye al desarrollo educativo de la comunidad.
            </p>
            <p>
                Este marco institucional establece el entorno en el que se implementará el Sistema Web de Control Académico Administrativo Escolar y Docente, proporcionando una base contextual esencial para el desarrollo y evaluación del proyecto de grado.
            </p>
        </div>
        <div class="card-footer text-muted text-center">
            <small>© 2024 Unidad Educativa Antonio Díaz Villamil</small>
        </div>
    </div>
</div>
{% endblock %}
